<html [dir]='dire'>
<div [dir]='dire'>
	<div class="container-fluid main">
		<div style="display:inline-block" class="title" translate>Title </div>
		<div style="display:inline-block" class="title" translate>home </div>
		<div style="display:inline-block" class="title" translate>subject </div>
		<div style="display:inline-block" class="title" translate>app </div>
		<button class="btn btn-danger navbar-btn eng-class" (click)="eng()">English</button>
		<button class="btn btn-danger navbar-btn eng-class" (click)="ara()">Arabic</button>
	</div>
</div>

<div class="container" [dir]='dire'>
	<h2 class="title2" translate>title2</h2>
	<div class="col-lg-6 text" [dir]='dire' translate>
		Introduction
		<p>
			<a routerLink="/learn" class="btn button-class" translate>learn</a>
		</p>
	</div>
	<div class="col-lg-6 img-div" [dir]='dire'>
		<img class="image" src="assets/images/ePayment.jpg"> </div>
</div>

</html>